body {
    background-color: lightgray;
    height: 900px;
}

.great-background {
    display: block;
    margin-left: auto;
    margin-right: auto;
    
    background-color: #FAFAFA;
    border-radius: 14px 14px 0px 0px;
    width: 360px;
    /* height: 672px; */
	overflow-x: hidden;
    overflow-y: hidden;

}

.scroller {
    /* width: 360px; */
    height: 648px;
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-width: thin;
  }
  

.status-bar-container {
    width: 346px;
    height: 18px;
    left: 24px;
    top: 4px;

}

.status-bar{
    /* 9:30 */
	margin-left: 14px;

	display: flex;
    justify-content: space-between;
    left: 24px;
    top: 4px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;

    color: #313131;
}

.status-bar-clock{
	display: inline;
	align-content: space-around;
}

.status-bar-connections{
	display: inline;
    margin-top: 14px;
}

.username-top {
    width: 193px;
    height: 28px;
    margin-left: 14px;
    top: 30px;
    
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
    color: #313131;

}

.username-top-question {
    position: absolute;
    width: 168px;
    height: 18px;
    top: 66px;

    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #313131;
    opacity: 0.5;
}

.bold-font-hearth-logo{
    display: flex;
    justify-content: space-between;
}

.bold-fonts{
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;

}

.video-info-card{
    display: block ruby;
    margin: 0px 0px 10px 0px;
}

.video-info{
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;

    margin: 0;
}

.hearth-icon{
    height: 20px;
    line-height: 20px;
    margin-top: 14px;
}

.carrousel-group {
	display: flex;
	margin-top: 48px;
	margin-left: 14px;
}

.carrousel-first-image {
	display: block;
}

.carrousel-second-image {
	display: block;
	margin-left: 14px;
}


.img {
    display: block;
    border-radius: 15px;
    height: 159px;
    left: 16px;
    top: 108px;
}

/* TABS */

.tabs-content{
    display: flex;
    justify-content: space-between;
    margin-left: 14px;
}

.tab-selected{
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #313131;

    margin-bottom: 0;
}

.selected-tab-underline{
    display: flex;
    justify-content: center;

    background: #33EEDD;
    border-radius: 2px;

    margin-top: 2px;
    margin-left: 24px;
    width: 16px;
    height: 2px;
}

.tab-unselected{
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #313131;
    opacity: 0.5;
}

/* CARDS */

.card-menor{
    background: #FFFFFF;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.06);
    border-radius: 8px;

    width: 328px;
    height: 111px;
    margin-top: 16px;
    margin-left: 14px;

    display: flex;
    justify-content: space-between;
}

.card-menor-image{
    border-radius: 8px 0px 0px 8px;
}

.card-menor-text-info{
    margin: 0px 24px 0px 12px;
}

.video-info-tags-container{
    display: flex;
    justify-content: flex-start;
}

.video-info-tags{
    display: flex;
    align-items: center;
    background-color: #3131311e;
    border-radius: 20px;
    margin-right: 12px;
    height: 24px;
}

.video-info-tag{
    margin: 8px;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #313131;
    
    width: auto;    
}

.bottom-menu{
    display: flex;
    justify-content: space-between;
    height: 50px;
    width: 332px;

    /* para o z-index funcionar, o valor de position deve ser diferente de 'static'.
    por padrao todos elementos recebem o valor implicito de "z-index: auto".
    */
    position: fixed;
    z-index: 1;
    /* margin-top: calc(70% - 80px); */
    padding: 14px;

    background-color: #FFFFFF;
    border-radius: 0px 0px 20px 20px;
}

.highlights-icon{
    width: 72px;
    height: 42px;
}

.favorite-icon{
    width: 64px;
    height: 42px;
}

.profile-icon{
    width: 36px;
    height: 42px;
}

/* VIDEO - HTML */

.top-menu-video {
    display: flex;
    justify-content: space-between;
    /* background-color: rebeccapurple; */

    margin-top: 12px;
    padding: 0px 12px 0px 12px;
    /* height: 40px; */
}

.arrow-back {
    width: 18px;
    height: 18px;
    margin-top: 16px;
}

.large-card-video-info{
    height: 528px;
}

.img-video-large {
    position: sticky;
    /* z-index: 1; */
   
    height: 266px;
    left: 0px;
    top: 74px;
}

.floating-play-button {
    /* display: block; */
    position: absolute;
    z-index: 1;
    margin-top: 229px;
    margin-left: 277px;
}

.card-info-video-large {
    /* background-color: #33EEDD; */
    padding: 2px;
}

.video-large-info {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;

    /* margin: 10px 0px 0px 0px; */
}

.colored-bold-fonts {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;

    color: #33EEDD;

}

/* MARCA - HTML */

.large-card-marca-info {
    height: 410px;
}

/* FAVORITOS - HTML */

.large-card-favoritos-info {
    height: 38px;
}
