body {
    background-color: lightgray;
    height: 900px;
}

.great-background {
    display: block;
    margin-left: auto;
    margin-right: auto;
    
    background-color: #FAFAFA;
    border-radius: 14px 14px 0px 0px;
    width: 360px;
    /* height: 672px; */
	overflow-x: hidden;
    overflow-y: hidden;

}

.scroller {
    /* width: 360px; */
    height: 648px;
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-width: thin;
  }
  

.status-bar-container {
    width: 346px;
    height: 18px;
    left: 24px;
    top: 4px;

}

.status-bar{
    /* 9:30 */
	margin-left: 14px;

	display: flex;
    justify-content: space-between;
    left: 24px;
    top: 4px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;

    color: #313131;
}

.status-bar-clock{
	display: inline;
	align-content: space-around;
}

.status-bar-connections{
	display: inline;
    margin-top: 14px;
}

.username-top {
    /* width: 193px; */
    /* height: 28px; */
    margin-left: 14px;
    
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
    color: #313131;

}

.username-top-question {
    position: absolute;
    width: 168px;
    height: 18px;
    top: 66px;

    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #313131;
    opacity: 0.5;
}

.bold-font-hearth-logo{
    display: flex;
    justify-content: space-between;
}

.bold-fonts{
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
}

.video-info-card{
    display: block ruby;
    margin: 0px 0px 10px 0px;
}

.video-info{
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;

    margin: 0;
}

.hearth-icon{
    height: 20px;
    line-height: 20px;
    margin-top: 14px;
}

.carrousel-group {
	display: flex;
	margin-top: 48px;
	margin-left: 14px;
}

.carrousel-first-image {
	display: block;
}

.carrousel-second-image {
	display: block;
	margin-left: 14px;
}


.img {
    display: block;
    border-radius: 15px;
    height: 159px;
    left: 16px;
    top: 108px;
}

/* TABS */

.tabs-content{
    display: flex;
    justify-content: space-between;
    margin-left: 14px;
}

.tab-selected{
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #313131;

    margin-bottom: 0;
}

.selected-tab-underline{
    display: flex;
    justify-content: center;

    background: #33EEDD;
    border-radius: 2px;

    margin-top: 2px;
    margin-left: 24px;
    width: 16px;
    height: 2px;
}

.tab-unselected{
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #313131;
    opacity: 0.5;
}

/* CARDS */

.card-menor{
    background: #FFFFFF;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.06);
    border-radius: 8px;

    width: 328px;
    height: 111px;
    margin-top: 16px;
    margin-left: 14px;

    display: flex;
    justify-content: space-between;
}

.card-menor-image{
    border-radius: 8px 0px 0px 8px;
}

.card-menor-text-info{
    margin: 0px 24px 0px 12px;
}

.video-info-tags-container{
    display: flex;
    justify-content: flex-start;
}

.video-info-tags{
    display: flex;
    align-items: center;
    background-color: #3131311e;
    border-radius: 20px;
    margin-right: 12px;
    height: 24px;
}

.video-info-tag{
    margin: 8px;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #313131;
    
    width: auto;    
}

.bottom-menu{
    display: flex;
    justify-content: space-between;
    height: 50px;
    width: 332px;

    /* para o z-index funcionar, o valor de position deve ser diferente de 'static'.
    por padrao todos elementos recebem o valor implicito de "z-index: auto".
    */
    position: fixed;
    z-index: 1;
    /* margin-top: calc(70% - 80px); */
    padding: 14px;

    background-color: #FFFFFF;
    border-radius: 0px 0px 20px 20px;
}

.highlights-icon{
    width: 72px;
    height: 42px;
}

.favorite-icon{
    width: 64px;
    height: 42px;
}

.profile-icon{
    width: 36px;
    height: 42px;
}

/* VIDEO - HTML */

.top-menu-video {
    display: flex;
    justify-content: space-between;
    /* background-color: rebeccapurple; */

    margin-top: 12px;
    padding: 0px 12px 0px 12px;
    /* height: 40px; */
}

.arrow-back {
    width: 18px;
    height: 18px;
    margin-top: 16px;
}

.large-card-video-info{
    height: 528px;
}

.img-video-large {
    position: sticky;
    /* z-index: 1; */
   
    height: 266px;
    left: 0px;
    top: 74px;
}

.floating-play-button {
    /* display: block; */
    position: absolute;
    z-index: 1;
    margin-top: 229px;
    margin-left: 277px;
}

.card-info-video-large {
    /* background-color: #33EEDD; */
    padding: 2px;
}

.video-large-info {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;

    line-height: 26px;

    /* margin: 10px 0px 0px 0px; */
}

.colored-bold-fonts {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;

    color: #33EEDD;

}

/* MARCA - HTML */

.large-card-marca-info {
    height: 410px;
}

/* FAVORITOS - HTML */

.large-card-favoritos-info {
    height: 38px;
}

/* PERFIL - HTML */

.ellipse-image-perfil {
    width: 88px;
    height: 88px;
}

.card-perfil{
    width: 294px;
    height: 111px;
    margin-top: 16px;
    margin-left: 14px;

    display: flex;
    justify-content: space-between;
}

.username-top-ellipse{
    width: 193px;
    height: 28px;
    margin: 20px 0 0 0;
    /* margin-left: 14px; */
    
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
    color: #313131;
}

.personal-info-container{
    margin-left: 16px;

}

.division-line{
    position: absolute;
    width: 328px;
    height: 1px;

    background: #313131;
    opacity: 0.1;
}

.faded-label-font{
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;

    color: #313131;
    opacity: 0.5;

    margin: 0;
}

.personal-info-font{
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;

    margin: 0;
    color: #313131;
}

.personal-info-label-container{
    display: flex;
    justify-content: space-between;
    margin: 16px 0 16px 0;
}

.personal-info-label-box{
    margin-top: 16px;
}

.chevron-right{
    margin: 26px 16px 0 0;
}

.exit-to-app{
    margin: 16px 12px 0 0;
}


/* EDITAR INFORMACOES - HTML */

.keyboard-overlay{
    width: 332px;
    height: 642px;
    padding: 14px;
    background-color: #FFFFFF;

    margin-top: 50px;
    position: fixed;
    z-index: 1;

    border-radius: 12px 12px 12px 12px;

}

.personal-info-input{
    display: block;
    border: none;
    width: 300px;
     
    outline: none; /* Removes the border when the input is clicked */
    background-color: transparent;
    border: none;
    caret-color: #33EEDD;
    -webkit-appearance: none;

    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;

    color: #313131;
}


.colored-division-line{
    display: block;

    position: absolute;
    width: 328px;
    height: 1px;

    background: #33EEDD;
    /* opacity: 0.1; */
}

.button{
    /* position: absolute; */
    width: 328px;
    height: 56px;
    /* margin-top: 50px; */

    background: #33EEDD;
    border-radius: 8px;
    border: none;

    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    
    text-align: center;
    
    color: #FFFFFF;
}

.modal-close-element{
    position: absolute;
    width: 32px;
    height: 8px;
    left: 164px;
    top: 16px;

    background: #33EEDD;
    border-radius: 200px;
}

/* LOGIN - HTML */

.status-bar-login{
    /* 9:30 */
	margin-left: 14px;
    position: absolute;
    z-index: 1;

	display: flex;
    justify-content: space-between;
    left: 24px;
    top: 4px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;

    color: #313131;
}

.img-login-large {
    position: sticky;
    /* z-index: 1; */
   
    /* height: 266px; */
    left: 0px;
    /* top: 74px; */
}

.logo-buttons-container{
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr; */
    grid-gap: 16px;
    /* justify-content: space-between; */
    margin-left: 16px;
}

.skate-videos-logo{
    /* display: block; */
    width: 172px;
    margin: 16px 40px 0px 80px;
}

.button-google{
        /* position: absolute; */
        width: 328px;
        height: 56px;
        /* margin-top: 50px; */
    
        background: #DD4B39;
        border-radius: 8px;
        border: none;
    
        font-family: 'Quicksand';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        
        text-align: center;
        
        color: #FFFFFF;
}

/* CADASTRO - HTML */

/* REMOVE AS SETAS PARA CIMA E PARA BAIXO DOS IMPUT TIPO NUMBER */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* REMOVE AS SETAS PARA CIMA E PARA BAIXO DOS IMPUT TIPO NUMBER */
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.visibility-eye{
    margin: 16px 12px 0 0;
}

/* BUSCA VAZIA */

.search-icon{
    width: 20px;
    height: 20px;
    margin-right: 16px;
}

.close-icon{
    width: 20px;
    height: 20px;
    margin-left: 16px;
}

.search-input-close-container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 6px;
}

.search-input{
    display: block;
    border: none;
    width: 244px;
     
    outline: none; /* Removes the border when the input is clicked */
    background-color: transparent;
    border: none;
    caret-color: #33EEDD;
    -webkit-appearance: none;

    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;

    color: #313131;
}

.search-text-container{
    display: grid;
    margin-top: 32px;
    /* background-color: red; */
    grid-gap: 10px;
    justify-content: start;
    margin-left: 16px;
}


.search-icon-background{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    
    background-color: #3131311e;
    /* opacity: 0.1; */

    position: sticky;
    z-index: 1;

    /* UMA FORMA DE CENTRALIZAR ELEMENTOS */
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.search-icon-greater{
    /* UMA FORMA DE CENTRALIZAR ELEMENTOS */
    display: block;
    margin-right: auto;
    margin-left: auto;

    position: sticky;

    padding-top: 14px;
    width: 20px;
    height: 20px;
    margin-top: 14px;
}

.bold-fonts-centralized{
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;

    text-align: center;
}

.paragraph-normal-centralized{
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;

    margin: 0;
    text-align: center;
}